.personal-info {
  .photo-and-info {
    height: 90vh;
    width: 100vw;
    background: url("../../assets/back2.jpg") no-repeat;
    background-size: cover;
    .container {
      width: 60%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;

      .photo {
        width: 50%;
        height: 60%;
        background: url("../../assets/new.png");
        background-repeat: round;
        overflow: hidden;
        position: relative;
        box-shadow: 0 -4px -8px 10px rgba(0, 0, 0, 0.3),
          inset 0 4px 8px 10px rgba(0, 0, 0, 0.3);

        img {
          width: 100%;
          height: 100%;
        }
      }
      .info {
        width: 50%;
        height: 60%;
        box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.3);
        background: #fff;
        padding: 70px 20px 0 40px;
        .info-details {
          display: flex;
          flex-direction: column;
          height: 80%;
          justify-content: center;
          align-items: center;

          .details {
            width: 100%;
            height: 24%;
            padding: 30px 30px 30px 20px;
            text-align: left;
            .name {
              font-size: xx-large;
              line-height: 1.4em;
              font-weight: bold;
            }
            .value {
              font-size: larger;
              margin-left: 2px;
              font-family: Arial, Helvetica, sans-serif;
              &.email {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .social-links {
    height: 10vh;
    width: 100vw;

    .container {
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
      transition: 0.3s;
      color: #182153;
      background-color: rgba(24, 33, 83, 1);
      width: 60%;
      margin: 0 auto;
      height: 8vh;
      line-height: 12vh;
      .links {
        width: 100%;
        a svg {
          width: 25px;
          height: 25px;
          margin-right: 25px;
        }

        .githubsvg {
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (max-width: 1175px) {
  .personal-info .photo-and-info .container {
    width: 70%;
    .info {
      padding: 70px 20px 0 20px;
    }
    .photo {
      background-repeat: round;
    }
  }

  .personal-info .social-links .container {
    width: 70%;
  }
}

@media (max-width: 935px) {
  .personal-info .photo-and-info .container {
    .photo {
      width: 100%;
      height: 51%;
      overflow: hidden;
      background-repeat: space;
      background-position-x: center;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .info {
      height: 51%;
      padding: 70px 20px 0 5px;
      .info-details .details {
        .value {
          font-size: larger;
          margin-left: 2px;
        }

        .name {
          font-size: 1.1em;
          line-height: 1.1em;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .personal-info {
    .photo-and-info {
      height: 120vh;
      width: 100vw;
      .container {
        width: 80%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-top: 30%;
        // margin: 0 auto;

        .photo {
          width: 100%;
          height: 45%;
          overflow: hidden;
          background-repeat: space;
          background-position-x: center;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .info {
          width: 100%;
          height: 45%;
          margin: 0 auto;
          padding: 10px 10px 0 35px;
          .info-details {
            height: 100%;
            .details {
              color: #182153;
              height: 23%;
              padding-bottom: 10px;
              .name {
                font-size: 1.4em;
                line-height: 1.4em;
              }
              .value {
                font-size: 1.2em;
                line-height: 1.2em;
                margin-left: 2px;
              }
            }
          }
        }
      }
    }

    .social-links {
      .container {
        width: 80%;
        padding: 0;
      }
    }
  }
}

@media (max-width: 582px) {
  .personal-info {
    .photo-and-info {
      height: 90vh;
      .container {
        width: 85%;
        padding-top: 20%;
        .photo {
          width: 100%;
          height: 45%;
          overflow: hidden;
          background-repeat: space;
          background-position-x: center;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .info {
          width: 100%;
          height: 45%;
          margin: 0 auto;
          padding: 10px 10px 0 30px;
          .info-details {
            height: 100%;
            .details {
              color: #182153;
              height: 23%;
              padding-bottom: 10px;
              .name {
                font-size: 1.4em;
                line-height: 1.4em;
              }
              .value {
                font-size: 1.2em;
                line-height: 1.2em;
                margin-left: 2px;
              }
            }
          }
        }
      }
    }

    .social-links {
      .container {
        width: 85%;
      }
    }
  }
}
