/* Header.js */

header {
  border-bottom: 3px solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 20px;
  background: #fff url("../../assets/chemistry.webp") repeat-x center center
    fixed;
  background-repeat: space;
  background-size: left;
  .name {
    color: #182153;
    font-size: 1.6em;
  }

  .navbar {
    display: flex;
    justify-content: center;
    font-weight: bold;

    a {
      font-size: 1.2em;
      text-decoration: none;
      text-transform: uppercase;
      color: black;
      padding: 0 10px;
      line-height: 2.5em;
      background: #eee;
      border-radius: 25px;
      margin-right: 4px;
      &.active {
        background: saddlebrown;
        transition: all 0.9s;

        color: #fff;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0px;
      }
    }
  }

  .navbar-collapse {
    display: none;
  }
}

@media (max-width: 896px) {
  header {
    .name {
      font-size: 1.5em;
    }

    .navbar {
      a {
        padding: 0 5px;
        font-size: 1em;
      }
    }
  }
}

@media (max-width: 720px) {
  header {
    flex-direction: column;
    .navbar {
      margin-top: 10px;
      a {
        padding: 5px 10px;
      }
    }
  }
}

@media (max-width: 592px) {
  header {
    flex-direction: row;
    .navbar {
      display: none;
    }

    .navbar-collapse {
      display: block;
      font-size: 1.5em;
      border-radius: 25px;
      width: 10%;
      height: 10%;
      line-height: 1.8em;
      min-width: 40px;
      min-height: 40px;
      color: #fff;
      background-color: rgba(24, 33, 83, 1);
      border: solid 0px rgba(24, 33, 83, 1);
      cursor: pointer;
    }
  }
}
