.experience-section {
  * {
    font-family: monospace;
    word-break: keep-all;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 100%;
    padding: 30px 30px;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .container {
    border-top: 3px solid black;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .left {
      width: 50%;
      text-align: right;
      padding: 40px;
      padding-top: 60px;
      padding-right: 60px;
      position: relative;

      &::after {
        display: block;
        content: "";
        width: 4px;
        height: 145px;
        background-color: #111;
        position: absolute;
        top: 60px;
        right: 0;
      }

      &::before {
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: purple;
        position: absolute;
        top: 80px;
        z-index: 2;
        right: -6px;
      }

      .date {
        color: purple;
        span {
          font-weight: 600;
          display: block;
          font-size: 1.5em;

          color: #182153;
        }
      }

      .occupation {
        margin-top: 10px;
        span {
          display: block;
          font-size: 1.2em;

          margin-bottom: 5px;
        }
      }
    }

    .right {
      width: 50%;
      text-align: left;
      padding: 40px;

      padding-top: 60px;

      .place {
        font-weight: 600;
        font-size: 1.5em;
        span {
          color: purple;
        }
      }

      .task-list {
        margin-top: 10px;
        font-size: 1.2em;
        ul {
          list-style-position: inside;
          margin-top: 10px;
          li {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .experience-section {
    .container {
      width: 80%;

      .left {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}

@media (max-width: 896px) {
  .experience-section {
    .container {
      width: 90%;

      .left {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}

@media (max-width: 726px) {
  .experience-section {
    .container {
      width: 95%;

      .left {
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 622px) {
  .experience-section {
    .container {
      width: 100%;

      .left {
        padding-left: 10px;
      }
    }
  }
}
