.App {
  text-align: center;
  background: url("./assets/chemistry.webp") repeat 0 0 fixed;
  width: 100%;
  height: auto;

  .bottom-right-float {
    position: fixed;
    bottom: 30px;
    font-size: 3rem;
    font-weight: bolder;
    right: 30px;
    border: 4px solid #aaa;
    border-radius: 50%;
    background: #182153;
    color: #fff;
    height: 60px;
    width: 60px;
    box-shadow: 3px 3px 3px #666;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    animation: floattopbtn 3s infinite 0s linear;
  }

  @keyframes floattopbtn {
    0% {
      transform: translateY(1px);
      box-shadow: 10px 10px 10px rgba(24, 33, 83, 0.5),
        -10px -10px 10px rgba(24, 33, 83, 0.5),
        0px -10px 10px rgba(24, 33, 83, 0.5),
        -10px 0px 10px rgba(24, 33, 83, 0.5),
        0px 10px 10px rgba(24, 33, 83, 0.5), 10px 0px 10px rgba(24, 33, 83, 0.5);
    }
    100% {
      transform: translateY(0px);
      box-shadow: 0px 0px 0px #182153;
    }
  }
}

// Offsetting the html anchors to adjust for fixed header/navbar
// Thank you :- https://www.wikitechy.com/technology/css-offsetting-html-anchor-adjust-fixed-header/
// #about:before,
#workstats:before,
#projects:before,
#experience:before,
#education:before,
// #blogs:before,
#skills:before {
  display: block;
  content: " ";
  height: 75px;
  visibility: hidden;
}

// link hover effect for `a.effect` tag
a.effect {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  &:hover:before {
    transition: all 0.3s;
    transform: translateY(0%);
    z-index: 1;
    width: 100%;
  }
}

a.effect::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 0%;
  height: 100%;
  background-color: rgba(139, 69, 19, 0.3);

  content: "";
  transform: translateY(95%);
}
