/* Desktop */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;

  font-family: monospace;
  word-break: keep-all;
}
/* width */
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #fafaff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: lightskyblue;
  border: 2px solid mediumaquamarine;
}

*::-webkit-scrollbar-thumb:hover {
  background: mediumaquamarine;
  border: 2px solid lightskyblue;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 512px) {
}
